@import "_oa";

@include font-face("icomoon", font-files("icomoon/fonts/icomoon.eot", "icomoon/fonts/icomoon.woff", "icomoon/fonts/icomoon.ttf", "icomoon/fonts/icomoon.svg"));
[class^="icon-"], [class*=" icon-"] {
  font-family: "icomoon"; speak: none; font-style: normal; font-weight: normal; font-variant: normal;
  @include font-smoothing(antialiased);
}

.icon-facebook-circular-logo:before {
  content: "\e900";
}
.icon-top:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-dehaze:before {
  content: "\e3c7";
}