@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?bf5pvz');
  src:  url('fonts/icomoon.eot?bf5pvz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?bf5pvz') format('truetype'),
    url('fonts/icomoon.woff?bf5pvz') format('woff'),
    url('fonts/icomoon.svg?bf5pvz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook-circular-logo:before {
  content: "\e900";
}
.icon-top:before {
  content: "\e901";
}
.icon-user:before {
  content: "\e902";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-dehaze:before {
  content: "\e3c7";
}
